<!DOCTYPE html >
<html lang ="en">
<head >
<meta charset ="UTF -8">
<meta name =" viewport " content =" width =device -width , initial - scale =1.0">
<title > Liverpool Info</title >
<link rel =" stylesheet " href ="{{'/assets/css/home.css' | relative_url}}">
</head >
<body>
    <header id="cabecalho-principal">
        <h1>Liverpool News</h1>
    </header>
    <nav id="navegacao-principal">
        
        <ul > {% for post in site . posts %}
        <li > <a href ="{{ home.url | relative_url }}"> {{ post . title }} </a> </li >
        {% endfor %}
        </ul>

    </nav>
    <main>
        <section class="posts">
            <article class="article-1">
                <header>
                    <h1>Liverpool enfrenta Aston Villa na quarta rodada do campeonato</h1>
                    <p>3 dias atrás</p>
                </header>
                <p>Um clássico acontece nesse domingo, 04/10.</p>
                <img src="{{'/assets/images/aston_liv.png' | relative_url}}" alt="Liverpool vs Aston Villa"/>
                <footer>
                    <p>Escrito por Giulia Cardella</p>
                </footer>
            </article>
            <article class="article-2">
                <header>
                    <h1>Sadio Mané testa positivo para COVID-19</h1>
                    <p>4 dias atrás</p>
                </header>
                <p>A estrela do time testou positivo para Corona-vírus e já está em isolamento.</p>
                <img src="{{'/assets/images/mane.jpg' | relative_url}}" alt="Mané com troféu da Premier League"/>
                <footer>
                    <p>Escrito por Vitor.</p>
                </footer>
            </article>
        </section>
        <aside id="sidebar" role="complementary">
            <p>Acesse o site oficial do Liverpool FC e concorra a uma camiseta autografada por Diogo Jota</p>
            <a href="https://www.liverpoolfc.com/">Acesse aqui</a>
        </aside>
    </main>
    <footer id="rodape-principal">
       You'll Never Walk Alone
    </footer>
</body>
</html >
