<!DOCTYPE html >
<html lang ="en">
<head >
<meta charset ="UTF -8">
<meta name =" viewport " content =" width =device -width , initial - scale =1.0">
<title > {{ page . title }} </title >
<link rel =" stylesheet " href ="{{'/assets/css/home.css' | relative_url}}">
</head >
<body > 
    <header id="cabecalho-principal">
        <h1>Liverpool News</h1>
        <img src="{{'/assets/images/1200px-Liverpool_FC.png' | relative_url}}" alt='Logo' width="5%"/>
    </header>
    <nav id="navegacao-principal">
        <ul >
        <li><a href="{{ home.url | relative_url}} ">Voltar a home</a></li>
         {% for post in site.posts %}
        <li > <a href ="{{ post.url | relative_url}} "> {{ post.title }} </a> </li >
        {% endfor %}
        </ul>

    </nav>
    {{content}}
</body >
</html >